<form [formGroup]="addProductForm">
  <div formArrayName="products" *ngFor="let product of productsFields.controls; let i = index">
    <div [formGroupName]="i">
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating" color="medium">Product Name</ion-label>
            <ion-input formControlName="productName" type="text"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="floating" color="medium">Description</ion-label>
            <ion-input formControlName="description" type="text"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="floating" color="medium">Dosage</ion-label>
            <ion-input formControlName="dosage" type="text"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="floating" color="medium">Category</ion-label>
            <ion-input formControlName="category" type="text"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="floating" color="medium">Box</ion-label>
            <ion-input formControlName="box" type="number"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="floating" color="medium">Units Per Box</ion-label>
            <ion-input formControlName="unitsPerBox" type="number"></ion-input>
          </ion-item>
        </ion-col>
        <!-- <ion-col>
          <ion-item>
            <ion-label position="floating" color="medium">Total Units</ion-label>
            <ion-input formControlName="unitsTotal" value="unitsPerBox * box" type="number"></ion-input>
          </ion-item>
        </ion-col> -->
        <ion-col>
          <ion-item>
            <ion-label position="floating" color="medium">Price Per Box</ion-label>
            <ion-input formControlName="pricePerBox" type="number"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="floating" color="medium">Price Per Unit</ion-label>
            <ion-input formControlName="pricePerUnit" type="number"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="floating" color="medium">Require Prescription</ion-label>
            <ion-input formControlName="requirePrescription" type="text"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col formGroupName="supplier">
          <ion-item>
            <ion-label position="floating" color="medium">Supplier Id</ion-label>
            <ion-input formControlName="supplierId" type="number"></ion-input>
          </ion-item>
        </ion-col>
        <!-- <ion-col formGroupName="supplier">
          <ion-item>
            <ion-input formControlName="supplierName" placeholder="Supplier Name" type="text"></ion-input>
          </ion-item>
        </ion-col> -->
        <div *ngIf="productsFields.length > 1" class="remove-item">
          <ion-icon (click)="removeProduct(i)" class="delete-product-btn" name="trash"></ion-icon>
        </div>
      </ion-row>
    </div>
  </div>
  <div class="action-button">
    <ion-button (click)="addProduct()" class="add-product-btn" color="danger">Add Product</ion-button>
    <ion-button (click)="onSubmit()" class="submit-btn" color="secondary">Save</ion-button>
  </div>
</form>

