.router-links-right {
    display: flex;
    align-items: center;

    .header-logo {
        width: 35px;
        padding-right: 10px;
        padding-top: 2px;

        &:hover {
            cursor: pointer;
        }

        &:focus {
            outline: none;
        }
    }

    h3 {
        color: black;
        text-decoration: none;

        &:hover {
            cursor: pointer;
        }

        &:focus {
            outline: none;
        }
    }
}