<ng-container>
  <ion-app>
    <ion-header>
      <ion-toolbar>
        <ion-title>
          <div class="router-links"> 
            <div class="router-links-right">
              <a class="header-nav-home" routerLink="/home">Somedico</a>
              <!-- <a class="header-nav-login" routerLink="/login">Login</a> -->
            </div>
          </div>
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-router-outlet></ion-router-outlet>
    </ion-content>
    <div class="footer-container">
      <app-footer></app-footer>
    </div>
  </ion-app>
</ng-container>