<ng-container *ngIf="false">
  <ion-app>
    <ion-header>
      <ion-toolbar>
        <ion-title>
          <div class="router-links">
            <div class="router-links-right">
              <img class="header-logo" routerLink="/home" src='./assets/icon/pharmacy.png'>
              <h3 class="header-nav-home" routerLink="/home">Somedico</h3>
              <!-- <a class="header-nav-login" routerLink="/login">Login</a> -->
            </div>
          </div>
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-router-outlet></ion-router-outlet>
    </ion-content>
    <div class="footer-container">
      <app-footer></app-footer>
    </div>
  </ion-app>
</ng-container>


<ion-split-pane  when="(min-width: 10000px)" *ngIf="true" contentId="menu-content">
  <ion-menu contentId="menu-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button autoHide='false'></ion-menu-button>
        </ion-buttons>
        <div class="header-section">
          <img class="menu-logo" src='./assets/icon/pharmacy.png' width="22px">
          <h5>Somedico</h5>
          <a *ngIf="true" routerLink="/login">Login</a>
        </div>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list class="ion-no-padding">
        <div class="side-nav">
          <ul id="myUL">
            <li>
              <a routerLink="/home"><ion-icon class="ion-icon" name="analytics"></ion-icon><span>Dashboard</span></a>
            </li>
            <li>
              <a routerLink="/point-of-sale"><ion-icon name="calculator"></ion-icon>Point of Sale</a>
            </li>
            <li>
              <a routerLink="/products"> <ion-icon name="cube"></ion-icon>Products</a>
            </li>
            <li>
              <a routerLink="/supplier"> <ion-icon name="briefcase"></ion-icon>Supplier</a>
            </li>
          </ul>
        </div>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="menu-content"></ion-router-outlet>
  <app-footer></app-footer>
</ion-split-pane>