<ion-header>
  <ion-toolbar>
    <div class="toolbar-content">
      <div class="title">
        <img class="header-logo" src='./assets/header_icons/edit.png'>
        <h3 class="header-nav-home">Edit Supplier</h3>
      </div>
      <div class="modal-close">
        <button (click)="closeModal()" class="modal__close-btn ion-float-right">X</button>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="editSupplierForm">
    <ion-row>
      <ion-col col-md-12 size="12" size-sm>
        <ion-item>
          <ion-label position="floating" color="medium">*Supplier Name</ion-label>
          <ion-input formControlName="supplierName" type="text" [value]="supplierName"></ion-input>
        </ion-item>
        <div class="error-messages">
          <ng-container *ngFor="let error of errorMessages.supplierName">
            <div class="error-message"
              *ngIf="editSupplierForm.get('supplierName').hasError(error.type) && (editSupplierForm.get('supplierName').dirty || editSupplierForm.get('supplierName').touched)">
              {{ error.message }}
            </div>
          </ng-container>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-md-12 size="12" size-sm>
        <ion-item>
          <ion-label position="floating" color="medium">*Email Address</ion-label>
          <ion-input formControlName="email" type="text" [value]="email"></ion-input>
        </ion-item>
        <div class="error-messages">
          <ng-container *ngFor="let error of errorMessages.email">
            <div class="error-message"
              *ngIf="editSupplierForm.get('email').hasError(error.type) && (editSupplierForm.get('email').dirty || editSupplierForm.get('email').touched)">
              {{ error.message }}
            </div>
          </ng-container>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-md-12 size="12" size-sm>
        <ion-item>
          <ion-label position="floating" color="medium">*Telephone Number</ion-label>
          <ion-input formControlName="telephoneNumber" type="text" [value]="telephoneNumber"></ion-input>
        </ion-item>
        <div class="error-messages">
          <ng-container *ngFor="let error of errorMessages.telephoneNumber">
            <div class="error-message"
              *ngIf="editSupplierForm.get('telephoneNumber').hasError(error.type) && (editSupplierForm.get('telephoneNumber').dirty || editSupplierForm.get('telephoneNumber').touched)">
              {{ error.message }}
            </div>
          </ng-container>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-md-12 size="12" size-sm>
        <ion-item>
          <ion-label position="floating" color="medium">*Address</ion-label>
          <ion-input formControlName="address" type="text" [value]="address"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <div class="action-button ion-text-right">
      <ion-button (click)="closeModal()" class="add-product-btn" color="danger">Cancel</ion-button>
      <ion-button (click)="onSubmit()" class="submit-btn" color="secondary">Confirm</ion-button>
    </div>
  </form>
</ion-content>
