.title {
    margin-left: 12px;
    .header-logo {
        padding-bottom: 5px;
        width: 40px;
    }
}
.title h3 {
    font-size: 25px;
}
.action-button {
    float: right;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-right: 5px;

    .add-product-btn {
        margin-right: 5px;
    }
}