/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/* Custom CSS */
@import "./app/shared/styles/common.scss";
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800&display=swap" rel="stylesheet');
@import '../../somedico/src/app/shared/styles/common.scss';
$breakpoint-alpha: 480px;

:root {
    --ion-color-secondary: #008413;
    --ion-color-secondary-rgb: 0, 102, 0;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #005a00;
    --ion-color-secondary-tint: #1a751a;

    --ion-color-warning: #f39c12;
    --ion-color-warning-rgb: 243, 156, 18;
    --ion-color-warning-contrast: #ffffff;
    --ion-color-warning-contrast-rgb: 255, 255, 255;
    --ion-color-warning-shade: #d68910;
    --ion-color-warning-tint: #f4a62a;

    --ion-color-calculator: #1e3799;
    --ion-color-calculator-rgb: 30, 55, 153;
    --ion-color-calculator-contrast: #ffffff;
    --ion-color-calculator-contrast-rgb: 255, 255, 255;
    --ion-color-calculator-shade: #1a3087;
    --ion-color-calculator-tint: #354ba3;
}

.ion-color-calculator {
    --ion-color-base: var(--ion-color-calculator);
    --ion-color-base-rgb: var(--ion-color-calculator-rgb);
    --ion-color-contrast: var(--ion-color-calculator-contrast);
    --ion-color-contrast-rgb: var(--ion-color-calculator-contrast-rgb);
    --ion-color-shade: var(--ion-color-calculator-shade);
    --ion-color-tint: var(--ion-color-calculator-tint);
}

ion-buttons {
    ion-menu-button {
        color: black !important;
    }
}

.title {
    display: flex;
    align-items: center;

    .header-logo {
        width: 45px;
        padding-right: 10px;
        padding-top: 2px;

        &:hover {
            cursor: pointer;
        }

        &:focus {
            outline: none;
        }
    }

    h3 {
        margin-top: 10px;

        text-decoration: none;

        &:hover {
            cursor: pointer;
        }

        &:focus {
            outline: none;
        }
    }
}

ion-title {
    padding: 0;
}

.title {
    .header-logo {
        padding-top: 0;
    }
}


// tables

.rwd-table {
    margin: 1em 0;
    // min-width: 300px; // adjust to your needs
    width: 100%;
    text-align: left;

    tr {
        font-size: 17px;
        text-align: left !important;

        @media only screen and (max-width: 1300px) {
            font-size: 16px;
        }
    }

    td {
        font-size: 17px;
        text-align: left !important;
        border-bottom: 2px solid $color-dark-green;

        @media only screen and (max-width: 1300px) {
            font-size: 15px !important;
        }
    }


    .th-left {
        // border-left: 2px solid $color-light-black;
    }

    th {
        display: none;
        text-align: left !important;
        border-bottom: 2px solid $color-dark-green;
        // border-right: 2px solid $color-light-black;
        // border-top: 2px solid $color-light-black;
        color: black;
        font-weight: 400;
        // white-space: nowrap;
    }

    .td-left {
        // border-left: 2px solid $color-dark-green;
    }

    .Edit {
        // border-right: 3px solid $color-dark-green;
    }

    td {
        display: block;
        // border-right: 2px solid $color-dark-green;

        @media only screen and (max-width: 600px) {
            display: flex;
            justify-content: space-between;
        }

        &:first-child {
            padding-top: .5em;
        }

        &:last-child {
            padding-bottom: .5em;
        }

        &:before {
            content: attr(data-th)": ";
            font-weight: bold;
            width: 6.5em;
            display: inline-block;

            @media only screen and (max-width: 600px) {
                width: initial;
            }


            @media (min-width: $breakpoint-alpha) {
                display: none;
            }
        }
    }

    th,
    td {
        text-align: left;

        @media (min-width: $breakpoint-alpha) {
            display: table-cell;
            padding: .25em .5em;

            &:first-child {
                padding-left: 0;
            }

            &:last-child {
                padding-right: 0;
            }
        }

    }


}

body {
    padding: 0 2em;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    color: $color-light-black;
    background: $color-lighter-gray;
}

.rwd-table {
    overflow: hidden;

    th,
    td {
        margin: .5em 1em;

        @media (min-width: $breakpoint-alpha) {
            // padding: 1em !important;
        }

        // @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
        //     width: 10px;
        // }
    }
}

// remove arrow from input type number
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.input-number:focus {
    outline: none;
}

ion-button {
    font-family: "Poppins", sans-serif;
    font-size: 20px;

    @media only screen and (max-width: 1300px) {
        font-size: 15px;
    }
}

.add-btn {
    font-size: 15px;
}

.edit-product-modal-container .modal-wrapper {
    height: 25.5em !important;
    position: absolute;
    display: block;
    width: 50em !important;

    @media only screen and (max-width: 600px) {
        height: 25, 5em !important;
        width: 50em !important;
    }

    @media (min-width: 768px) and (max-width: 1024px) {
        width: 45em !important;
    }
}

.edit-supplier-modal-container .modal-wrapper {
    height: 24em !important;
    position: absolute;
    display: block;
    width: 30em !important;

    @media only screen and (max-width: 600px) {
        height: 24em !important;
        width: 30em !important;
    }

    @media (min-width: 768px) and (max-width: 1024px) {
        width: 30em !important;
    }
}

.confirmation-modal-container .modal-wrapper {
    height: 26em !important;
    position: absolute;
    display: block;
    width: 35em !important;

    @media only screen and (max-width: 600px) {
        height: 26em !important;
        width: 35em !important;
    }

    @media (min-width: 768px) and (max-width: 1024px) {
        height: 26em !important;
        width: 35em !important;
    }
}

.warning-modal-container .modal-wrapper {
    height: 12.5em !important;
    width: 25em !important;
    position: absolute;
    display: block;

    @media only screen and (max-width: 600px) {
        height: 12.5em !important;
        width: 25em !important;
    }

    @media (min-width: 768px) and (max-width: 1024px) {
        height: 12.5em !important;
        width: 25em !important;
    }
}

.modal-wrapper {
    border-radius: 4px !important;
}

.toolbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .modal {
        &__close-btn {
            background: none;
            padding: 0 20px;

            &:focus {
                outline: none;
            }

            &:hover {
                cursor: pointer;
                color: $color-light-red;
            }
        }
    }
}