<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <div class="router-links">
        <div class="title">
          <img class="header-logo" src='./assets/header_icons/bill.png'>
          <h3 class="header-nav-order-details">Order Details</h3>
        </div>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="invoice-margin">
    <ion-card class="invoice">
      <ion-card-content>
        <div class="invoice-title">
          <div class="invoice-logo">
            <img class="logo-img" src='./assets/icon/pharmacy.png'>
            <h3 class="logo-text">Somedico Pharmacy</h3>
          </div>
          <div>
            <div class="address main">La Caverne, Vacoas</div>
            <div class="tel main">(+230) 6977114</div>
  
          </div>
        </div>
        <div class="invoice-subtitle">
          <div>
            <div class="cashier-name main">Cashier: <span class="sub">Awad</span></div>
            <div class="cashier-name main">Customer: <span class="sub">{{customerName}}</span></div>
          </div>
          <div>
            <div class="invoice-date-title main">Invoice Date:</div>
            <div class="invoice-date sub">{{orderDate | DateFormatter}}</div>
          </div>
        </div>
  
        <ul class="responsive-table">
          <li class="table-header">
            <div class="col col-1">Product Name</div>
            <div class="col col-2">Box(es)</div>
            <div class="col col-3">Unit(s)</div>
            <div class="col col-4">Price Per Box</div>
            <div class="col col-5">Price Per Unit</div>
            <div class="col col-6">Total</div>
          </li>
          <li class="table-row" *ngFor="let orderDetail of orderDetails" > 
            <div class="col col-1" data-label="Product Name">{{orderDetail.productName}}</div>
            <div class="col col-2" data-label="Box(es)">{{orderDetail.boxesOrdered}}</div>
            <div class="col col-3" data-label="Unit(s)">{{orderDetail.unitsOrdered}}</div>
            <div class="col col-4" data-label="Price Per Box">Rs {{orderDetail.productDto.pricePerBox}}</div>
            <div class="col col-5" data-label="Price Per Unit">Rs {{orderDetail.productDto.pricePerUnit}}</div>
            <div class="col col-6" data-label="Total">Rs {{orderDetail.totalPrice}}</div>
          </li>
        </ul>
  
        <div class="invoice-footer">
          <div>
            <div class="sub">Thank you for your purchase</div>
            <div class="sub">© Somedico Pharmacy</div>
          </div>
          <div>
            <div class="invoice-date-title main">Grand Total: Rs {{grandTotal}}</div>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
    <div class="print" *ngIf="print">
      <ion-button color="secondary" (click)="printReceipt()">Print Receipt</ion-button>
    </div>
  </div>

</ion-content>