@import '../../shared/styles/common.scss';

.title .header-logo {
    padding-bottom: 7px;
}

td,
th {
    text-align: left !important;
}

.input-number {
    border-radius: 4px;
    width: 75px;

    &:focus {
        outline-color: none;
    }
}

.rwd-table td {
    border-bottom: none;
}

ion-icon.delete-product-btn {
    padding-top: 10px;
}

.delete-item:hover {
    cursor: pointer;
    color: red;
}

.sub-total {
    font-size: 19px;
    color: red;
    @media only screen and (max-width: 1300px) {
        font-size: 17px;
    }
}

.wrapper-bottom {
    display: flex;
    justify-content: space-between;
}

.action-btn {
    display: flex;

    .new-purchase {
        padding-right: 15px;
    }
}

.search-result {
    padding: 0 15px 10px 15px;
}

td.add {
    text-align: right !important;
}

.subtitle {
    display: flex;
    -webkit-box-align: center;
    align-items: center;

    .cart-logo {
        width: 35px;
    }

    .cart-text {
        font-size: 24px;
        padding-top: 8px;
        margin-top: 5px;
        padding-left: 5px;
    }
}


.value {
    text-align: right;
    font-size: 20px;
}

.calc-button {
    width: calc(25% - 4px);
    height: 50px;
    font-size: 20px;
    @media only screen and (max-width: 1300px) {
        font-size: 15px;
    }
}

.calculator {
    width: 300px;
    float: right;
    margin: 0;
}

.calculators-wrapper {
    display: flex;
}

.quick-balance {
    margin: 0;

    ion-card-content {
        h3 {
            font-size: 17px;
            padding: 10px;

            @media only screen and (max-width: 1300px) {
                font-size: 15px;
            }

            .balance {
                float: right;
            }

            .calculator-paid {
                width: 100px;
            }

            .calculator-balance,
            .calculator-subtotal {
                padding-right: 3px;
            }
        }
    }
}

@media only screen and (max-width: 1260px) {
    .calculator-row {
        display: block;

        .calculator {
            margin: 5px;
        }

        .quick-balance {
            width: 300px;
            margin: 5px;
            float: right;
        }
    }
}


// new table design
body {
    font-family: "Roboto", "Helvetica Neue", sans-serif;
}

.container {
    max-width: 2000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}

h2 {
    font-size: 26px;
    margin: 20px 0;
    text-align: center;

    small {
        font-size: 0.5em;
    }
}

.responsive-table {
    padding-left: 10px;
    padding-right: 10px;

    li {
        border-radius: 3px;
        padding: 15px 30px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        font-size: 17px;
    }

    .table-header {
        color: white;
        background-color: var(--ion-color-secondary-tint, #50c8ff) !important;
        font-size: 17px;
        text-transform: none;
        letter-spacing: 0.03em;
    }

    .table-row {
        background-color: #ffffff;
        box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
        &:hover {
            cursor: pointer;
            background-color: rgb(226, 226, 226);
        }
    }

    .col-1 {
      flex-basis: 2%;
    }
    .col-2 {
      flex-basis: 8%;
    }
    .col-3 {
      flex-basis: 8%;
    }
    .col-4 {
      flex-basis: 8%;
    }
    .col-5 {
      flex-basis: 8%;
    }
    .col-6 {
      flex-basis: 12%;
    }
    .col-7 {
      flex-basis: 12%;
    }
    .col-8 {
      flex-basis: 12%;
    }
    .col-9 {
      flex-basis: 10%;
    }
    .col-10 {
      flex-basis: 10%;
    }
    .col-11 {
      flex-basis: 5%;
    }
    .col-12 {
      flex-basis: 2%;
    }

    @media all and (max-width: 767px) {
        .table-header {
            display: none;
        }

        .table-row {}

        li {
            display: block;
        }

        .col {

            flex-basis: 100%;

        }

        .col {
            display: flex;
            padding: 10px 0;

            &:before {
                color: #6C7A89;
                padding-right: 10px;
                content: attr(data-label);
                flex-basis: 50%;
                text-align: right;
            }
        }
    }
}

.add-productCart {
    --width: 30px;
    --height: 30px;
    --border-radius: 50%;
    --vertical-align: middle;
    --padding-top: 0;
    --padding-bottom: 0;
    --padding-start: 0;
    --padding-end: 0;
  }

  .addToCart-icon {
      width:35px;
  }

  .pt-1{
      padding-top: 15px;
  }