.title .header-logo {
    padding-bottom: 7px;
}
td, th {
    text-align: left!important;
}
.input-number {
    border-radius: 4px;
    width: 75px;
}
.rwd-table td {
    border-bottom: none;
}
ion-icon {
    padding-top: 10px;
}
.delete-item:hover {
    cursor: pointer;
    color: red;
}
.sub-total {
    font-size: 20px;
    color: red;
}
.wrapper-bottom {
    display: flex;
    justify-content: space-between;
}
.action-btn {
    display: flex;
    .new-purchase {
        padding-right: 15px;
    }
}