@import '../../../shared/styles/common.scss';

.remove-item {
    padding-top: 30px;
    @media only screen and (max-width: 1024px) {
        padding-top: 8em;
    }

    .delete-product-btn {
        font-size: 22px;

        &:hover {
            cursor: pointer;
            color: red;
        }
    }
}

// ion-label {
//     color: rgb(151, 145, 145) !important;

//     &:focus {
//         color: blue !important;
//     }
// }
.supplier-container {
    display: flex;
}
.supplier-wrapper {
    border-bottom: 2px solid $color-dark-blue;
    padding-right: 5px;
    margin-bottom: 10px;
    width: 100%;
}

.action-button {
    float: right;
    margin-top: 10px;
    margin-bottom: 10px;

    .add-product-btn {
        margin-right: 5px;
    }
}