<form [formGroup]="addSupplierForm">
  <div formArrayName="suppliers" *ngFor="let supplier of suppliersFields.controls; let i = index">
    <div [formGroupName]="i" class="supplier-container">
      <ion-row class="supplier-wrapper">
        <ion-col size-lg="3" size-md="4" size-xs="12">
          <ion-item>
            <ion-label position="floating" color="medium">Supplier name</ion-label>
            <ion-input formControlName="supplierName" type="text"></ion-input>
          </ion-item>
          <div class="error-messages">
            <ng-container *ngFor="let error of errorMessages.supplierName">
              <div class="error-message"
                *ngIf="supplier.get('supplierName').hasError(error.type) && (supplier.get('supplierName').dirty || supplier.get('supplierName').touched)">
                {{ error.message }}
              </div>
            </ng-container>
          </div>
        </ion-col>
        <ion-col size-lg="3" size-md="4" size-xs="12">
          <ion-item>
            <ion-label position="floating" color="medium">Email address</ion-label>
            <ion-input formControlName="email" type="text"></ion-input>
          </ion-item>
          <div class="error-messages">
            <ng-container *ngFor="let error of errorMessages.email">
              <div class="error-message"
                *ngIf="supplier.get('email').hasError(error.type) && (supplier.get('email').dirty || supplier.get('email').touched)">
                {{ error.message }}
              </div>
            </ng-container>
          </div>
        </ion-col>
        <ion-col size-lg="3" size-md="4" size-xs="12">
          <ion-item>
            <ion-label position="floating" color="medium">Contact number</ion-label>
            <ion-input formControlName="telephoneNumber" type="text" maxlength="8"></ion-input>
          </ion-item>
          <div class="error-messages">
            <ng-container *ngFor="let error of errorMessages.telephoneNumber">
              <div class="error-message"
                *ngIf="supplier.get('telephoneNumber').hasError(error.type) && (supplier.get('telephoneNumber').dirty || supplier.get('telephoneNumber').touched)">
                {{ error.message }}
              </div>
            </ng-container>
          </div>
        </ion-col>
        <ion-col size-lg="3" size-md="12" size-xs="12">
          <ion-item>
            <ion-label position="floating" color="medium">Address</ion-label>
            <ion-input formControlName="address" type="text"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <div *ngIf="suppliersFields.length > 1" class="remove-item">
        <ion-icon (click)="removeSupplier(i)" class="delete-product-btn" name="trash"></ion-icon>
      </div>
    </div>
  </div>
  <div class="action-button">
    <ion-button (click)="addSupplier()" class="add-product-btn" color="danger">Add Supplier</ion-button>
    <ion-button (click)="onSubmit()" class="submit-btn" color="secondary" [disabled]="addSupplierForm.invalid">Save</ion-button>
  </div>
</form>

